<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/static/CSS/base.css?v=<?=time()?>">
    <link rel="stylesheet" href="/static/CSS/components.css?v=<?=time()?>">
    <link rel="stylesheet" href="/static/CSS/user.css?v=<?=time()?>">
</head>

<body class="user-page">
    <div class="user-container">
        <h2 class="greeting">Hello <span id="username"></span>!</h2>

        <div class="profile-info">
            <p><strong>Role:</strong> <span id="role"></span></p>
            <p><strong>Date of creation:</strong> <span id="created_at"></span></p>
        </div>

        <div id="admin-panel" class="admin-panel" style="display:none;">
            <div class="admin-header">
                <h3>All Users</h3>
                <button id="add-user-btn" class="add-user-btn">+</button>
            </div>
            <div class="user-list-container" id="user-list"></div>
        </div>

        <div id="add-user-modal" class="modal">
            <div class="modal-content">
                <button class="close" id="close-add">&times;</button>
                <h3>Add New User</h3>
                <form id="add-user-form">
                    <label>Username:</label>
                    <input type="text" id="new-username" required>

                    <label>Password:</label>
                    <input type="password" id="new-password" required>

                    <label><input type="checkbox" id="new-is-admin">Admin</label>

                    <div class="modal-actions">
                        <button type="submit">Create</button>
                        <button type="button" id="cancel-add">Cancel</button>
                    </div>
                </form>
            </div>
        </div>


        <button class="logout-btn">
            <h4>Logout</h4>
        </button>
        <script src="/static/js/user.js?v=1.0.1"></script>
    </div>
</body>

</html>